* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto';
    color: #fff;
}

.section {
    margin: 0 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50%;
    margin: 40px 0;
}

.first-images {
    display: flex;
}

/* Every direct child of the first images parent */
.first-images > * {
    flex-basis: 100%;
}
/* End every direct child... */

.first-images img {
    width: 14%;
    object-fit: cover;
}

.nav {
    margin: 40px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    gap: 1em;
}

.navbar li {
    padding: 0 20px;
}

.navbar li a {
    text-decoration: none;
}

/* Added by JavaScript on scroll */
.fixed {
    position: fixed;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
    padding: 30px 0;
    margin-top: 0;
    top: 0;
    right: 0;
    left: 0;
}

.spacer {
    margin-top: 150px;
}
/* End added by JavaScript on scroll */

/* ---------------- */
/* ---- Cards ----- */
/* ---------------- */

.sec {
    margin-bottom: 50px;
}

.sec-images img {
    width: 100%;
}

.text > * {
    text-align: justify;
}

.text > h2 {
    margin-bottom: 12px;
}

.text {
    margin: 20px 0; 
}

@media (min-width: 768px) {
    .sec-images {
        display: flex;
    }

    .sec-images img {
        width: 50%;
    }

    .three img {
        width: 33%;
    }
}

@media (min-width: 1024px) {
    .sec {
        display: flex;
        align-items: center;
        gap: 4em;
    }

    .sec > * {
        flex-basis: 100%;
    }
    
    .sec-images {
        width: 50%;
    }

    .text {
        width: 50%;
    }

    .reversed {
        order: 1;
    }
}